{% extends 'Front/baseProduct.html.twig' %}

{% block title %}Payment Success!{% endblock %}

{% block body %}
    <main>
        <div class="breadcrumb-area bg-img" style="background-image:url(assets/images/bg/breadcrumb.jpg);">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2>order page</h2>
                    <ul>
                        <li>
                            <a href="{{ path('app_algolus') }}">Home</a>
                        </li>
                        <li class="active">Order </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contact-area pt-85 pb-90">
            <div class="container">
                <div class="contact-info-wrap mb-50">
                    <h1>Thanks for your attempted order!</h1>
                    <p>
                        We would appreciate your business!
                        But your payment <strong>failed</strong>  :(
                        <a href="mailto:orders@example.com">failures@example.com</a>.
                    </p>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
