
<div id="myModalAddBlog" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold ml-3 h3">Add Blog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('dashboard_create_blog') }}" method="POST"
                  id="formAddBlog" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="form-group">
                                <input type="file" id="image" class="form-control chp" placeholder="Image"
                                       data-toggle="tooltip" title="(Facultatif)"
                                       name="BlogImage">
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="BlogTitle" class="form-group has-float-label mb-1 h6 font-weight-bold text-muted">
                                    Blog Title
                                </label>
                                <input type="text" class="form-control chp" id="BlogTitle" placeholder="Title" name="BlogTitle" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="BlogDescription" class="form-group has-float-label mb-1 h6 font-weight-bold text-muted">Blog Description</label>
                                <input type="text" class="form-control chp" id="BlogDescription" placeholder="Description" name="BlogDescription">
                            </div>
                        </div>


                        <div class="msgerreur text-danger"></div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light btn-shadow font-weight-bold" data-dismiss="modal">
                        Cancel
                    </button>
                    <button class="btn btn-primary btn-shadow font-weight-bold" type="submit">
                        Add
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


