{% extends 'dashboard/baseDashboard.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<main>
    <div class="example-wrapper">
        <h1>Hello Dashboard ! </h1>
    </div>
</main>

{% endblock %}
